*{
	padding: 0;
	margin: 0;
}
body {
    width: 85%;
    display: block;
    margin: 0px auto;
    background-image: url(../img/fondo.jpg);
    
}
.login{
    float: right; 
    margin-top: -7%;
}

form input{
    font-family: 'Aclonica', sans-serif;
    font-size: 20px;
    border: none;
    background: #5B0606;
    color: white;
    border-radius: 4px;
    padding: 4%;
    margin-bottom: 3%;
}
.logo img{
    width: 15%;
    display: block;
    margin: 0px auto;
    padding: 1.5%;
}
nav {
    display: block;
    margin: 0px auto;
    width: 38%;
    text-decoration: none;
    font-family: 'Aclonica', sans-serif;
    background-color:#F2BA70;
    text-align: center;    
}
nav ul{
     list-style: none;
     display: inline-block;
     padding:2%;
}
nav ul li{
      float: left;
      margin-top: 1%;
}
nav ul li a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      padding: 18px;
}
nav ul li a:hover{
    background-color: #5B0606;
}
nav ul li a:active {
    background-color: #5B0606;
}

.true {
    padding: 3%;
}
.banner img {
      width: 30%;
      float: left;
      padding: 3%;
      margin: 1%;
}
h3{
    font-family: 'Aclonica', sans-serif;
    font-size: 20px;
    color: #5B0606;
}
p{
    font-family: 'Lora', serif;
    font-size: 18px;
}
.mision, .vision{
    padding: 0.5%;
}
footer{
    margin-top: 10%;
	width: 100%;
    background-color: #fdfafb;
}
.redes{
    display: block;
    margin:0px auto;
}
.redes img{
    display: inline-block;
    width: 2%;
    margin: 0.5%;    
}
.redes img:hover{
	filter: opacity(.5);;
}
.logo_footer img{
    width: 10%;
    display: block;
    margin:auto;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }